{% extends 'back.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
    <center><h1>Ajouter une Publication</h1></cneter>

    {{ include('publication/_form.html.twig') }}

{% endblock %}
