

<div class="row g-3" style="width:700px">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button  class="btn btn-primary w-100 py-3 mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>