{% extends 'basepage.html.twig' %}

{% block title %}Circuits{% endblock %}

{% block display %}Circuits{% endblock %}

{% block breadcrumb %}Circuits{% endblock %}

{% block content %}
    <h1>Edit Circuit</h1>

    {{ include('circuit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_circuit_index') }}">back to list</a>

    {{ include('circuit/_delete_form.html.twig') }}
{% endblock %}
